<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playlists</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .playlist-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 20px;
      margin: 20px;
    }

    .playlist-item {
      text-align: center;
    }

    .playlist-image {
      width: 200px;
      height: 200px;
      margin-bottom: 10px;
      object-fit: cover;
      border-radius: 10%;
      font-size: 30px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: black;
    }

    .playlist-name {
      font-weight: bold;
    }

    .playlist-link {
      color: #1db954;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>채팅방에서 듣고 싶은 플레이리스트를 선택하세요.</h1>
  <form action='/chatSearchingPli' method='post'>
    <input type="hidden" name="roomId" value="<%= roomId %>">
    <input type="text" name="chatSearchPli" value="">
    <input type="submit" class="button" value="search">
  </form>
  <div class="playlist-container">
    <% playlists.body.items.reverse().forEach(function(playlist) { %>
      <div class="playlist-item">
        <a href="/chat/<%= roomId %>/<%= playlist.id %>" class="playlist-link">
          <% if (playlist.images && playlist.images.length > 0) { %>
            <img src="<%= playlist.images[0].url %>" alt="Playlist Image" class="playlist-image">
            <div class="playlist-name"><%= playlist.name %></div>
	    <button onclick="renderPage('page1')">페이지 1</button>
	  <% } else {%>
	    <div class="playlist-image">no music</div>
            <div class="playlist-name"><%= playlist.name %></div>
	    <button onclick="renderPage('page1')">페이지 1</button>
	  <% }%>
        </a>
      </div>
    <% }); %>
  </div>
  <div>
    <ul>
      <li><a href="/createPlaylist">플레이리스트 생성</a></li>
      <li><a href="/plimatelist">플리메이트 목록</a></li>
    </ul>
  </div>
</body>
</html>
